img {
  max-width: 100%;
}

header {
  display: flex;
  position: fixed;
  width: 95%;
  z-index: 2;
}

header h1 {
  font-size: 1em;
  flex: 1;
  margin-top: 0;
}

section {
  padding-top: 2em;
  display: none;
}

section:target {
  display: block;
}

