.day
{
    width: 200px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ulMouth{display:block !important;}

.ulMouth li{
font-size: 13px !important;
}
.weekText{padding:0;width:200px !important;justify-content: flex-start;display: flex;}
.weekText  li{
text-align: center !important;
width: calc(100% / 7 - 4px) !important;
text-align: center;
background-color: ;
list-style-type: none;
margin: 2px;
position: unset !important;
}

.day li
{
    width: calc(100% / 7 - 4px);
    float: left;
    list-style-type: none;
    text-align: center;
    background-color: ;
    margin: 2px;
    cursor: pointer;
	padding: 0 !important;
    position: unset !important;
}
}

.holiday
{
 background-color: #f99900 !important;
}

.xCalendar
{
    position: relative;
}
.xCalendar select{
    margin: 2px;
    font-size: 90%;
}

.calendar
{
    max-height: 20px;
    list-style-type: none;
    float: left;
    margin-right: 15px;
    position: relative;
}


.selectCalc
{
    height: 20px;
}

.clmCAL:hover{color:#3c9e91;}

.day:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.calendar:after
{

    display: block;
    position: absolute;
    right: 0;
    top: -6px;
    font-size: 21px;
}

.visible-hiden
{
    opacity: 0;
    cursor: default !important;
}

.calendar ul
{
    list-style-type: none;
    background-color: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 4px 16px -2px rgba(179,179,179,0.38);
    -moz-box-shadow: 0px 4px 16px -2px rgba(179,179,179,0.38);
    box-shadow: 0px 4px 16px -2px rgba(179,179,179,0.38);
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
    max-height: 0px;
}

.calendar>ul>li
{
    cursor: pointer;
}

.calendar:hover ul
{
    opacity: 1;
    visibility: visible;
    max-height: 300px;
}
.xCalendar .slick-active  {background:#cae1dd;}
.clmCAL.active{
color:#009681;
}

.day .active{
background:#dcabcb;
}
.day .active2{
background:#93accc;
}
