.nlike{
    width: 50%;
    text-align: center;
    margin: auto;
	background: #f1f1f1;
	padding: 2px;
    border-radius: 2px;
	margin-bottom: 7px;
    border-radius: 2px;
	border-right: 1px solid #fff;
}

.nDlike{
    width: 50%;
    text-align: center;
    margin: auto;
	background: #f1f1f1;
    padding: 2px;
    color: #ff5d4c;
    margin-bottom: 7px;
    border-radius: 2px;
	border-left: 1px solid #fff;
}

.actionMessage{ 
resize:none;
width:100%;
height:50px;
}




.commPreloader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
        background: rgba(210, 210, 210, 0.64);
    z-index: 999999999999;
    top: 0;
    right: 0;
    flex-direction: column;}

.commPreloader img {
width:90px;
height:90px;
}

.actionReMessage, .addSubject{
    min-width: 113px;
    display: inline-block;
    height: 27px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background-color: #009681;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    padding-left: 11px;
    position: relative;
    border: 0;
}
.textReMessage, .userSubject{width:100%;}
.comment_li_hover{
background:#f1f1f1;
}


.ajaxTypeForum select{
	padding: 4px;
    font-size: 69%;
    cursor: pointer;
    margin-left: 10px;
}

.sectionSelect{
padding: 10px;
margin-top: 10px;
border: 1px solid #d9d9d6;
}

.displaynone{display:none;}