.settingLogo{
width: 50px;
    position: absolute;
    top: 211px;
    left: 68px;
    cursor: pointer;
    opacity: .8;
}
.settingLogo:hover{
opacity:1;
}
#settingContact input[type=text]{width:100% !important;}
#settingContact textarea{resize: none;width:100%;height:80px;}
.settingWind h4{color:#333;}

.setcheck input{
position:absolute;
left: 310px;
}
	.settingWind input{
		color:#333;
		padding:3px;
}
.settingLogo{
   width: 80px;
    height: 80px;
    position: absolute;
    top: 237px;
    float: left;
    left: 150px;
    cursor: pointer;
    opacity: .8;

}
.settingclose{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    float: right;
    left: 321px;
    cursor: pointer;
    opacity: .8;
}
.settingWind{
padding:10px;height: 100%;
    width: 350px;
    position: fixed;
    background: #009681;
    top: 0;
    left: 0;
    z-index: 9999;
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, .5);color:#fff;
}
	.displaynone{display:none;}