/* личный маркер доступа в Confluence
ODM0MjIyMzMyMDgyOgFW6Hrf0//mXMxCO31+NDXWin5j

curl -H "Authorization: Bearer ODM0MjIyMzMyMDgyOgFW6Hrf0//mXMxCO31+NDXWin5j" https://confluence.netrika.ru/rest/api/content/147168385?expand=body.view
*/

* {
    border: 0px solid silver;
    --bgcolor: #009681;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Lato;
}
main, section {
    overflow: auto;
}

footer, header {
    border: 0;
    background-color: var(--bgcolor);
    padding: 1em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

footer form, header form {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

 footer a, header a {
    color:white;
 }

.logo, nav {
    display: block;
    float: left;
}
.logo img {
margin-right: 2em;}

.contacts {
    display: inline-block;
}

nav li, nav ul {
    display: inline;
}

.contacts {
    margin-left: auto;
    margin-right: auto;
}

aside {
    float: left;
    padding: 1em;
}
aside ul, aside li, nav ul, nav li {
margin:0;
padding:0;
line-height: 2em;
list-style-type: none;
}
aside a {
    padding: .6em;
}

section h3 {
margin-top:0;
}
section.test div{
    float: left;
    max-width: 20em;
    margin-right: 1em;
    overflow: auto;
    padding: 1em;
    color: #444;

}
section.test div a {
    padding: .6em;
    border-radius: 1em;
    background-color: #009681;
    color:white;
}

.submit {
    background-color: var(--bgcolor);
}

section.confluence h2, div.aside div.innerCell{
display:none;
}

section.confluence * {
margin:0;
padding:0;
}
section.confluence ul{
    float: left;
    max-width: 20em;
    margin-right: 1em;
    overflow: auto;
    color: #444;
}

section.confluence li {
    border: 0px solid silver;
    border-radius: 1em;
    list-style-type: none;
    padding: 1em;
    margin-bottom: 1em;
}


section.confluence li a {
    margin-bottom:1em;
    display:inline-block;
    padding: .6em;
}


a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    padding: .6em;
    border-radius: 1em;
    background-color: var(--bgcolor);
    color:white;
}
